
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.top-header {
    padding: 0 5%;
    background: #4bbfba;
  }
  .th-inner {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    color: #fff;
    font-family: 'Segoe UI' sans-serif;
  }
  .th-left a {
    color: #fff;
    text-decoration: underline;
  }
  .th-left p, .th-right-link a{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
  }
  .th-left p {
    margin-bottom: 0px;
    padding-top: 6px;
  }
  .th-right {
    display: flex;
    align-items: center;
  }
  .th-right div {
    margin-right: 10px;
  }
  .th-right-dropdown button {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-color: #fff;
  }
  .th-right-dropdown button:hover, .th-right-dropdown button:focus, .th-right-dropdown button#dropdownMenuButton {
    background: transparent !important;
    border-color: #fff !important;
    height: 35px;
  }
  .th-right-dropdown.last-field, .th-right-dropdown.last-field .dropdown{
    margin-right: 0px;
  }
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .header{
    padding: 0 5%;
    background-color: #fff;
  }
  .nav-left {
    display: flex;
  }
  .header .navbar {
    background: #fff !important;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-right ul.navbar-nav li a.nav-link {
    font-size: 16px !important;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    color: #4bbfba !important;
  }
  a.dropdown-item{
    color: #333 !important;
  }
  section#footer {
    background: #fdfdfd;
    margin: 50px 0px 0px 0px;
  }
  .widget-heading h3 {
    font-size: 19px;
    font-weight: 700;
    font-family: 'Segoe UI', sans-serif;
  }
  section#footer {
    background-color: #fdfdfd;
    padding: 50px 0px;
    background-image: url(./../../assets/img/footer_bg.png);
    background-size: 100%;
  }
  .about p {
    color: #5c5c5c;
    font-size: 16px;
    font-family: 'Segoe UI';
    margin: 30px 0px;
    font-weight: 400;
  }
  .post-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
  }
  .post-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .post-content div {
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI';
  }
  .recent-post {
    margin: 30px 0px;
  }
  span.post-date {
    color: #4bbfba;
    font-weight: 600;
    font-size: 16px;
  }
  .activity, .contact {
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    color: #5c5c5c;
    font-weight: 500;
    margin: 30px 0px;
  }
  .activity ul, .contact ul {
    margin: 0;
    padding: 0;
  }
  .activity ul li, .contact ul li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px dashed #5c5c5c;
  }
  .contact ul li {
    border-bottom: transparent;
  }
  a.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .inner-divider{
    display: flex;
  }
  .first-line {
    background: #fee381;
    height: 5px;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .second-line {
    background: #f54848;
    height: 5px;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .copyright-section {
    background: #4cc0bb;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    padding: 15px 0px;
  }
  section#copyright {
    padding-bottom: 0;
  }
  .copyright-text p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
  }
  @media only screen and (max-width:990px){
    .nav-right div#navbarSupportedContent {
      position: absolute;
      width: 100%;
      left: 0;
      background: #fff;
      z-index: 999;
      top: 100px;
      padding: 10px 20px;
    }
  }
  @media only screen and (max-width:767px){
    .th-left {
      display: none;
  }
  .th-right-dropdown button{
    width: auto;
  }
  
  }
  #header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  #header .logo h1 {
    font-size: 26px;
    padding: 0 0 0 8px;
    margin: 11px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    border-left: 8px solid #e96b56;
  }
  
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #545454;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: #545454;
    padding: 13px 0 15px 25px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #e96b56;
    text-decoration: none;
  }
  
  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 20px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
  }
  
  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #e96b56;
  }
  
  .nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
  
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 20px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #e96b56;
  }
  
  .mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #545454;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #e96b56;
    text-decoration: none;
  }
  
  .mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(59, 59, 59, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }