<div *ngFor="let slide of dynamicSlides">
  <section id="third_event_cat" class="third_event_cat">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="third_events_section">
            <div class="third_event_section_inner">
              <div class="events_main_heading">
                <h1>{{slide.heading}}</h1>
                <a href="#">See All</a>
              </div>
              <div class="third_event_carousel">
                <owl-carousel-o [options]="customOptions">
                  <ng-container *ngFor="let slides of slide.data">
                    <ng-template carouselSlide [id]="slide.id">
                      <div class="event_box" style="margin: 10px" (click)="toToggleEventpage($event)">
                        <div class="events_des_image">
                          <img src="{{slides.src}}" alt="ad_04">
                          <div class="event_code">AED 65</div>
                        </div>
                        <div class="event_description">
                          <h3>{{ slides.title}}</h3>
                          <div class="event_btm_des">
                            <div class="left_section">
                              <span class="small_text">The Dubai Mall</span>
                              <button type="button" class="btn bn_btn">Book Now!</button>
                            </div>
                            <div class="right_section">
                              <div class="review">
                                <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                </ul>
                              </div>
                              <button type="button" class="btn rm_btn">Read More</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>