<div class="event_third_detail">
    <div class="event_activity_part d-flex">
      <div class="event_activity">
        <h3>Caterpillar clup (6 weeks - 6 months)</h3>
        <div class="event_buy_tag">Buy this deal now!</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
      </div>
      <div class="event_act_price">
        <div class="event_price"><span class="dis_price">AED 100</span><span class="main_price">AED 75</span></div>
      </div>
    </div>
    <div class="event_activity_part d-flex">
      <div class="event_activity">
        <h3>Caterpillar clup (6 weeks - 6 months)</h3>
        <div class="event_buy_tag">Buy this deal now!</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
      </div>
      <div class="event_act_price">
        <div class="event_price"><span class="dis_price">AED 100</span><span class="main_price">AED 75</span></div>
      </div>
    </div>
