<app-header ></app-header>
<div *ngIf="homePage">
<app-banner></app-banner>  
<app-advertisement></app-advertisement> 
<app-get-inspiration></app-get-inspiration>
<app-try-new (featureSelected)="toEventPage($event)"></app-try-new>
<app-blog></app-blog>
<app-browse-category></app-browse-category> 

<app-home-ad-sec></app-home-ad-sec>
<app-family-sec></app-family-sec>
<app-download-app></app-download-app>
</div>
<div *ngIf="eventPage">
    <app-event-details (homePageFeature)="toHomePage($event)"></app-event-details> 
</div> 
<app-footer></app-footer>  



